<a href="/dashboard">
    <span class="material-symbols-outlined">
        arrow_back
    </span>
</a>
<h2>Add Post</h2>
<form action="add-post" method="POST">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post title" name="title">

    <label for="body"><b>Content</b></label>
    <textarea name="body" id="editor" class="contenteditable" cols="50" rows="30"></textarea>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/classic/translations/pt-br.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                language: 'pt-br'
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <button type="submit" value="Add">
        <span class="material-symbols-outlined">add</span>
    </button>
</form>