<header class="header">
    <a href="/" class="header__logo">LOGO</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">Sobre</a>
            </li>
            <li>
                <a href="/" class="">Contato</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn">
            <span class="material-symbols-outlined">search</span>
        </button>

    </div>
</header>