<div class="searchBar">
    <div class="container">
        <form action="/post/search" class="search__form" role="search" method="POST">
            <input
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Buscar no site"/>
        </form>
        <div id="searchClose">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>
</div>